
.WORMcontainer {
  background: transparent;
  font: 16em/1 Rubik;
}

.text--line {
  font-size: .5em;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 5% 20%;
  stroke-width: 6px;
  -webkit-animation: stroke-offset 10s infinite linear;
          animation: stroke-offset 10s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #00CDFF;
  opacity: .59;
  text-shadow: 2px 2px 5px #00CDFF, 1px 1px 3px black;
  stroke-dashoffset: 5%;
}
.text-copy:nth-child(2) {
  stroke: #00ACFF;
  opacity: .59;
  text-shadow: 2px 2px 5px #00ACFF, 1px 1px 3px black;
  stroke-dashoffset: 10%;
}
.text-copy:nth-child(3) {
  stroke: #6599FF;
  opacity: .59;
  text-shadow: 2px 2px 5px #6599FF, 1px 1px 3px black;
  stroke-dashoffset: 15%;
}
.text-copy:nth-child(4) {
  stroke: #B281FF;
  opacity: .59;
  text-shadow: 2px 2px 5px #B281FF, 1px 1px 3px black;
  stroke-dashoffset: 20%;
}
.text-copy:nth-child(5) {
  stroke: #FA46FF;
  opacity: .59;
  text-shadow: 2px 2px 5px #FA46FF, 1px 1px 3px black;
  stroke-dashoffset: 25%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 62.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 62.5%;
  }
}
/* HOW TO USE

<div class="WORMcontainer">
<svg viewBox="0 0 800 600">
  <symbol id="s-text">
    <text text-anchor="middle"
          x="50%"
          y="35%"
          class="text--line"
          >
      Leflore
    </text>
    <text text-anchor="middle"
          x="50%"
          y="68%"
          class="text--line2"
          >
      Live
    </text>

  </symbol>

  <g class="g-ants">
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
    <use xlink:href="#s-text"
      class="text-copy"></use>
  </g>


</svg>
</div>

*/
